@model First1.Models.Employee
@{
    ViewBag.Title = "departmentName";
}

<!---->
<br />
<div class="row">
    <div class="col-1">
        <a href="../Index">
            <i class="fas fa-arrow-circle-left fa-3x"></i>
        </a>
    </div>
    <div class="col-11" style="margin: 15px auto;">


    </div>
</div>
<br />






<table class="table border" style="width:50%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayFor(model => model.FirstName)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayFor(model => model.LastName)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayFor(model => model.CIN)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @ViewBag.departmentName
        </th>
    </tr>

</table>
